.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3vw;
    margin: 5vw 0;
    padding: 10px 0;
}

.message {
    background: rgba(255,255,255,0.8);
    padding: 10px 0;
    height: min-content;
}

.icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
}

.icons > a{
    margin: 1px 25px;
    width: 6vw;
    height: 6vw;
}

.footer > p {
    background-color: rgba(255,255,255,0.8);
    height: min-content;
    margin: auto 0;
    line-height: 55px;
}

.footer > p:last-child {
    font-size: 10px;
    font-weight: bold;
    font-style: italic;
}